<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study2.practice.category.mapper.CategoryMapper">

  <select id="findAll" resultType="com.study2.practice.category.entity.Category">
    SELECT id, name
    FROM category
  </select>

  <select id="findById" resultType="com.study2.practice.category.entity.Category">
    SELECT id, name
    FROM category
    WHERE id = #{id}
  </select>

</mapper>